
body{
        font-family:'Poppins', sans-serif; ;
        margin: 0px;
        
}
h1{
        font-size: 50px;
}
h2{
        font-size: 30px;
}
p{
        font-size: 20px;
}

.headline{
        width: 100vw;
        height: 100vh;
        background-image: url(image/donation4.jpg);
        background-size: cover;
        margin-bottom: 150px;
}
.overly{
        width: 100%;
        height: 100%;
        font-size: 30px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        background-color: rgba(0, 0, 0, 0.5);
}
.link-button{
        text-decoration: none;
        background-image: linear-gradient(orange, tomato);
        padding: 10px 40px;
        border-radius: 5px;
        color: white;
        font-weight: 700;
}

.Donate-Today{
        font-size: 25px;
        width: 100%;
        height: 100%;
        text-align: center;
        text-decoration: none;
        text-transform: none 

}
.flex-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 5px;

}
.flex-container>div{
        width: 100px;
        background-color: bisque;
        font-size: 30px;
        margin: 10px;
        padding: 20px;
        
}
.border{
        border: 4px solid tomato;
        
}
.taka{
        font-size: 15px;
        text-align: center;  
        color: gray;
            
}
.h{
        width: 80%;
        height: 5px;
        border: none;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;
        margin-bottom: 50px;

}
.flexible-container{
        display: flex;
        margin-bottom: 150px;
        
}
.donation-area{
        margin-top: 150px;
}
.donation-plan{
        width: 40%;
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 20px;
        border-radius: 10px;
        padding-top: 20px;
        box-shadow: 10px, 10px, 40px gray;
}
#our{
        text-align: center;
        padding-bottom: 100px;
        
}

#food-for-family{
        background-position: top;
        background-color: antiquewhite;
}
#shelter-for-family{
        background-position: top;
        background-color: lightpink;
}
#education-for-child{
        background-position: top;
        background-color: lightblue;

}
 .half-width{
        width: 50%;
        padding-left: 2%;
        padding-right: 2%;
        

}
.half-width-img{
        width: 100%;
        
}
.Get-updates{
        font-size: 30px;
        width: 100%;
        height: 100%;
        padding: 200px;
        text-align: center;
        text-decoration: none;
        text-transform: none
        
}
.updates{
        width: 100%;
        height: 100%;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 20px;
        background-color: white;
}
.mail{
        max-width: 60%;
        padding: 60px;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-top: 50px;
}
label{
        position: relative;
}
input{
        border: none;
        padding: 15px;
        width: 400px;
}
button{
        width: 150px;
        position: absolute;
        border: none;
        padding: 15px;
        top: 0;
        right: 0;
        bottom: 0;
        border: none;
        background-color: tomato;
        color: white;
}
#be-humble{
        font-size: 25px;
        color: tomato;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        background-color: black;
}